.nav {

    width: 100%;
    z-index: 100;
    position: fixed;
    top: inherit; //this non numerical offset value positions the nav bar up top by default;
         @media (min-width: 1100px) {
             bottom: 0; // then this rule comes in at larger widths and overrides whatever the nav inheriting 

     }

}